.#{$theme} {

  // **
  // black
  // **

  .ansi-black-fg {
    color: $ansi-black;
  }

  .ansi-bright-black-fg {
    color: $ansi-black-bright;
  }

  // **
  // red
  // **

  .ansi-red-fg {
    color: $ansi-red;
  }

  .ansi-bright-red-fg {
    color: $ansi-red-bright;
  }

  // **
  // green
  // **

  .ansi-green-fg {
    color: $ansi-green;
  }

  .ansi-bright-green-fg {
    color: $ansi-green-bright;
  }

  // **
  // yellow
  // **

  .ansi-yellow-fg {
    color: $ansi-yellow;
  }

  .ansi-bright-yellow-fg {
    color: $ansi-yellow-bright;
  }

  // **
  // blue
  // **

  .ansi-blue-fg {
    color: $ansi-blue;
  }

  .ansi-bright-blue-fg {
    color: $ansi-blue-bright;
  }

  // **
  // magenta
  // **

  .ansi-magenta-fg {
    color: $ansi-magenta;
  }

  .ansi-bright-magenta-fg {
    color: $ansi-magenta-bright;
  }

  // **
  // cyan
  // **

  .ansi-cyan-fg {
    color: $ansi-cyan;
  }

  .ansi-bright-cyan-fg {
    color: $ansi-cyan-bright;
  }

  // **
  // white
  // **

  .ansi-white-fg {
    color: $ansi-white;
  }

  .ansi-bright-white-fg {
    color: $ansi-white-bright;
  }
}