// **
// colors for JSON objects hightlight
// **

.#{$theme} {
  pre {
    color: $ansi-blue;
  }

  .hljs-string {
    color: $ansi-green-bright;
  }

  .hljs-number {
    color: $ansi-red-bright;
  }

  .hljs-attribute {
    color: $ansi-yellow-bright;
  }
}