// **
// reset
// **

* {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-weight: inherit;

  &:focus {
    outline: none;
  }

  z-index: 1;
}

strong, b {
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

u {
  text-decoration: underline;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

pre,
code {
  font: inherit;
}

#{$all-text-inputs},
#{$all-buttons},
input,
select {
  font: inherit;
}
