.#{$theme} {
  header {
    background: $header-bg-color;

    .rtail-logo {
      background-color: $main-color;
    }
  }

  .sidebar {
    background: $stream-list-bg-color;

    .search-box {
      background-color: $stream-search-bg-color;

      input {
        color: #787E80;
      }
    }

    .stream-section {
      h4 {
        color: $stream-list-title-color;
      }

      .category-title {
        color: $stream-list-category-color;
      }

      a {
        color: $stream-list-color;

        &.category-title {
          color: $stream-list-color;
        }

        &:hover {
          background: $stream-list-bg-hover-color;
        }

        &.selected {
          background: $stream-list-selected-bg-color;
          border-left-color: $stream-list-selected-color;
          color: $stream-list-selected-color;
        }

        i {
          background-color: $main-color;
        }
      }
    }
  }

  .stream-view {
    background-color: $stream-view-bg-color;

    .stream-header {
      background: #45a7b9;
      color: #fff;

      .stream-title-favorite {

      }

      .filter-box {
        input::-webkit-input-placeholder {
          color: white;
        }
      }
    }

    .stream-lines {
      .stream-line:hover {
        background: $stream-view-content-bg-hover-color;
      }

      .stream-line-timestamp {
        color: $stream-view-timestamp-color;
        border-right-color: $stream-view-timestamp-border-color;
      }

      .stream-line-content {
        color: $stream-view-content-color;
      }
    }

    .btn-toggle-timestamp {
      background-color: $stream-view-bg-color;
      background-repeat: no-repeat;
      background-size: 4px 7px;
      background-position: 50%;
      border: 1px solid $stream-view-timestamp-border-color;
    }

    .btn-resume {
      background-color: $main-color;
      color: white;
    }
  }

  .popover {
    .popover-content {
      background: $popover-bg-color;
      color: $popover-font-color;

      &:before {
        border-bottom-color: $popover-alt-bg-color;
      }
    }

    .popover-info {
      .rtail-logo,
      .lukibear-logo {
        background-color: $popover-alt-bg-color;
      }
    }

    .btn {
      border-color: $popover-btn-border-color;
      color: $popover-btn-font-color;

      &:hover,
      &.selected {
        color: $popover-btn-font-selected-color;
        background-color: $popover-btn-bg-hover-color;
      }

      &:active {
        background-color: $popover-btn-bg-active-color;
      }
    }
  }

  .popover-settings {
    h4 {
      color: $popover-font-color;
    }

    &:before {
      border-bottom-color: $popover-bg-color !important;
    }
  }
}
