// **
// variables
// **

$spacing: 20px;
$border-radius: 5px;
$viewport-width: 1045px;

$color-blue-jelly: #2A90A3;
$color-blue-hippie: #45A7B9;
$color-blue-pelorous: #49B4C8;
$color-blue-mystic: #D9EDF1;
$color-gray-mine: #373737;
$color-gray-chicago: #656565;
$color-gray-chateau: #A9A9A9;
$color-gray-mercury: #EBEBEB;
$color-gray-desert: #F8F8F8;
$color-white-snow: #FFFFFF;
$color-gray-limed: #39464E;
$color-gray-river: #404E57;
$gray-river: #404E57;
$color-gray-shuttle: #49575F;
$color-gray-stone: #788289;
