// **
// define theme specific variables
// **

$theme: dark;

$main-color: #ec7b65;
$header-bg-color: #fdfdfd;

$stream-search-color: #a6a6a6;
$stream-search-bg-color: #404E57;

$stream-list-bg-color: #374249;
$stream-list-title-color: #f0f0f0;
$stream-list-color: #787e80;
$stream-list-category-color: #f0f0f0;
$stream-list-selected-color: #45a7b9;
$stream-list-selected-bg-color: rgba(69, 167, 185, 0.17);
$stream-list-bg-hover-color: lighten($stream-list-bg-color, 2%);

$stream-view-bg-color: #2f383f;
$stream-view-content-color: #cfcfcf;
$stream-view-content-bg-hover-color: lighten($stream-view-bg-color, 5%);
$stream-view-timestamp-color: #6d6d6d;
$stream-view-timestamp-border-color: #444c52;

$popover-font-color: #6b7780;
$popover-bg-color: #fdfdfd;
$popover-alt-bg-color: #f5f5f5;
$popover-btn-bg-hover-color: #f0f0f0;
$popover-btn-bg-active-color: darken($popover-btn-bg-hover-color, 10%);
$popover-btn-border-color: #c7c7c7;
$popover-btn-font-color: rgba(#7a8891, 0.6);
$popover-btn-font-selected-color: darken($popover-btn-font-color, 30%);

$ansi-black: #6B6F72;
$ansi-black-bright: #BDC3C7;
$ansi-red: #C0392B;
$ansi-red-bright: #E74C3C;
$ansi-green: #27AF60;
$ansi-green-bright: #2ECC71;
$ansi-yellow: #F39C12;
$ansi-yellow-bright: #F1C40F;
$ansi-blue: #2E8DCD;
$ansi-blue-bright: #3498DB;
$ansi-magenta: #8E44AD;
$ansi-magenta-bright: #9B59B6;
$ansi-cyan: #0097A4;
$ansi-cyan-bright: #02C8D9;
$ansi-white: #BDC3C7;
$ansi-white-bright: #FFFFFF;

// **
// import templates
// **

@import "_theme.scss";
@import "_ansi.scss";
@import "_highlightjs.scss";
