// **
// define theme specific variables
// **

$theme: light;

$main-color: #ec7b65;
$header-bg-color: #374249;

$stream-search-color: #787e80;
$stream-search-bg-color: #dddddd;

$stream-list-bg-color: #ececec;
$stream-list-title-color: #495861;
$stream-list-color: #787e80;
$stream-list-selected-color: #45a7b9;
$stream-list-selected-bg-color: rgba(69, 167, 185, 0.17);
$stream-list-bg-hover-color: $stream-list-selected-bg-color;

$stream-view-bg-color: #fff;
$stream-view-content-color: #6D6D6D;
$stream-view-content-bg-hover-color: darken($stream-view-bg-color, 3%);
$stream-view-timestamp-color: #bbbbbb;
$stream-view-timestamp-border-color: #ececec;

$popover-font-color: #fff;
$popover-bg-color: #374249;
$popover-alt-bg-color: #434C53;
$popover-btn-bg-hover-color: lighten($popover-bg-color, 5%);
$popover-btn-bg-active-color: darken($popover-btn-bg-hover-color, 10%);
$popover-btn-border-color: #6B7780;
$popover-btn-font-color: rgba(#FFFFFF, 0.6);
$popover-btn-font-selected-color: darken($popover-btn-font-color, 10%);

$ansi-black: #6B6F72;
$ansi-black-bright: #BDC3C7;
$ansi-red: #C0392B;
$ansi-red-bright: #E74C3C;
$ansi-green: #27AF60;
$ansi-green-bright: #2ECC71;
$ansi-yellow: #F39C12;
$ansi-yellow-bright: #F1C40F;
$ansi-blue: #2E8DCD;
$ansi-blue-bright: #3498DB;
$ansi-magenta: #8E44AD;
$ansi-magenta-bright: #9B59B6;
$ansi-cyan: #0097A4;
$ansi-cyan-bright: #02C8D9;
$ansi-white: #D8D6D6;
$ansi-white-bright: #A7A7A7;

// **
// import templates
// **

@import "_theme.scss";
@import "_ansi.scss";