// **
// font families
// **

.font-family-1 & {
  font-family: 'Avenir-Roman';
}

.font-family-2 & {
  font-family: 'Menlo';
}

.font-family-3 & {
  font-family: 'Helvetica Neue';
}

.font-family-4 & {
  font-family: 'Comic Sans MS';
}

.font-family-5 & {
  font-family: 'Futura';
}

.font-family-6 & {
  font-family: 'Trebuchet MS';
}

// **
// font sizes
// **

.font-size-1 & {
  font-size: xx-small;
}

.font-size-2 & {
  font-size: x-small;
}

.font-size-3 & {
  font-size: small;
}

.font-size-4 & {
  font-size: 14px;
}

.font-size-5 & {
  font-size: large;
}

.font-size-6 & {
  font-size: x-large;
}

.font-size-7 & {
  font-size: xx-large;
}